.panel {
    grid-column: 3 / 5;
    grid-row: 3 / 5;

    background-color: #333;
    color: white;

    overflow-y: auto;
    max-width: 25vw;

    transition: height 0.3s ease;

    z-index: 2;

    /* border-left: 1px solid #111;
    border-top: 1px solid #111 */
}

.panel .icon-button {
    background-color: #333;
}

#panel-output {
    background-color: #222;
    color: #fff;

    margin: 10px 10px 10px 10px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;

    height: calc(100% - 50px);
    width: calc(100% - 20px);

    max-width: calc(100% - 20px);
    border-radius: 10px;

    font-family: monospace;
}

#panel-output::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#panel-output::-webkit-scrollbar-track {
    background: #222;
}

#panel-output::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
    border: 2px solid #222;
}

#panel-output::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

#panel-output::-webkit-scrollbar-corner {
    background-color: #333;
}

.table-container {
    display: table;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}

.table-row {
    display: table-row;
    margin-bottom: 5px;
    width: 100%;
}

.table-cell {
    display: table-cell;
    padding: 5px;
    border: 1px solid #444;
    vertical-align: middle;
    word-wrap: break-word;
    width: 55%;
}

.langblock {
    background-color: #222;
    border: 5px solid #444; 
    padding: 10px;

    font-weight: bold;
}

.langhead {
    /* font-family: Georgia, serif; */
    display: block;
    padding: 5px;
    word-wrap: break-word;
    /* background-color: #333; */
    text-align: center;
    word-wrap: break-word;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
}

.langheadnull {
    display: block;
    /* font-family: Georgia, serif; */
    padding: 5px;
    word-wrap: break-word;
    background-color: #222;
    text-align: center;
    word-wrap: break-word;
    width: 100%;
}

.read-only-cell {
    display: table-cell;
    padding: 5px;
    border: 1px solid #444;
    word-wrap: break-word;
    background-color: #333;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    width: 30%;
}

textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #222;
    background-color: #222;
    color: #fff;
    border-radius: 4px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    resize: none;
    height: auto;
    overflow-y: auto;
}

textarea:focus {
    outline: none;
    /* border-color: #007bff; */
}
