* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, serif;
  overflow: hidden;
}

.App {
  display: grid;

  grid-template-columns: 40px 1fr calc(25vw - 40px) 40px;
  grid-template-rows: 40px calc(60vh - 40px) calc(40vh - 40px) 40px;

  height: 100vh;
}